<div class="wp-btw">
  <div class="tc-backwp-a tc-card-a">
    <div *ngIf="teeth_box == 'colors'">
      <div class="wp-btw_cen">
        <h2 class="tc-h3">About colors</h2>
        <button (click)="teeth_box = 'teeth'" mat-raised-button>Your teeth</button>
      </div>

      <div class="tc-list-item">
        <i [inlineSVG]="'../../assets/i/tooth.svg'" class="tc-svg white"></i>
        <h4 class="fw400">Removed</h4>
      </div>
      <div class="tc-list-item">
        <i [inlineSVG]="'../../assets/i/tooth.svg'" class="tc-svg gray"></i>
        <h4 class="fw400">Cured</h4>
      </div>
      <div class="tc-list-item">
        <i [inlineSVG]="'../../assets/i/tooth.svg'" class="tc-svg blue"></i>
        <h4 class="fw400">Need to cure</h4>
      </div>
    </div>



    <div *ngIf="teeth_box == 'teeth'">
      <div class="wp-btw_cen">
        <h2 class="tc-h3">Your teeth</h2>
        <button (click)="teeth_box = 'colors'" mat-raised-button>Colors info</button>
      </div>

      <app-teeth (onTooth)="onTooth($event)" [teeth]="teeth"></app-teeth>
    </div>



    <div *ngIf="teeth_box == 'tooth'">
      <div class="wp-btw_cen mb10">
        <h2 class="tc-h3">Tooth #{{tooth.id}}</h2>
        <button (click)="teeth_box = 'teeth'" mat-raised-button>Your teeth</button>
      </div>

      <img [src]="tooth.img" alt="" style="width: 35px;margin-right: 10px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at mollitia quam? Atque, eligendi enim excepturi quasi quos voluptas voluptatibus! Eius iste necessitatibus nostrum reiciendis saepe soluta tempore ut voluptates?
    </div>
  </div>


  <div class="tc-backwp-b">
    <div class="tc-card-a">
      <h2 class="tc-h3">Visit to the doctor</h2>
      <div *ngFor="let tooth of teeth">
        <div *ngIf="tooth.type == 'need2cure'" class="tc-list-item">
          <img [src]="tooth.img" alt="" class="tc-list-item-tooth">
          {{tooth.visit_at | date: 'MMMM EEEE d'}} at {{tooth.visit_at | date: 'HH:mm'}}
        </div>
      </div>
    </div>
  </div>
</div>


