<img class="w100p" src="assets/i/contacts/team.jpg" alt="">

<div class="tc-title-a mv30">Contact Us</div>

<div class="tc-wp-a tac mb30">
  <div>
    One of our team will contact you within the next 24hrs to book your appointment accordingly. <br>
    Open from 9 am to 9 pm, 7 days a week. <br>
    For direct bookings feel free to call us directly on +971 4 355 8808 and/or contact us via info@dubaiskyclinic.com<br>
    Emergency Contact No: 050-3840046 <br>
    Day time, after hours and Public holidays Contact No: 050-8064686
  </div>

  <button (click)="appointmentPop()" class="tc-btn-b mt30"><span class="tc-btn-b-text">Make an appointment</span></button>
</div>

<app-map [map]="initMap"></app-map>
