<div class="tc-page-wp tc-wp-a mb50">
  <div class="tc-title-a">
    <span *ngIf="type == 'login'">Log In</span>
    <span *ngIf="type == 'register'">Registration</span>
    <span *ngIf="type == 'forgot'">Restore account</span>
  </div>

  <form *ngIf="type == 'login'" [formGroup]="loginForm" (submit)="login(loginForm)" style="width: 300px;display: block;margin: 0 auto;">
    <mat-input-container class="w100p mb10">
      <input formControlName="email" matInput placeholder="Email" type="email">
      <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">Please enter your email</mat-error>
    </mat-input-container>
    <mat-input-container class="w100p mb10">
      <input formControlName="password" matInput placeholder="Password" type="password">
      <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">Please enter your password</mat-error>
    </mat-input-container>

    <div class="tar mb15">
      <a (click)="type= 'forgot'" class="fsz10">Forgot password?</a>
    </div>


    <div class="wp-btw">
      <button type="button" (click)="type= 'register'" mat-raised-button>Register</button>
      <button type="submit" mat-raised-button class="tc-mt-btn-a">Enter</button>
    </div>
  </form>



  <form *ngIf="type == 'register'" [formGroup]="registerForm" (submit)="register(registerForm)" style="width: 300px;display: block;margin: 0 auto;">
    <mat-input-container class="w100p mb10">
      <input formControlName="email" matInput placeholder="Email" type="email">
      <mat-error *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">Please enter your email</mat-error>
    </mat-input-container>
    <mat-input-container class="w100p mb10">
      <input formControlName="password" matInput placeholder="Password" type="password">
      <mat-error *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">Please enter your password</mat-error>
    </mat-input-container>
    <mat-input-container class="w100p mb10">
      <input formControlName="password2" matInput placeholder="Confirm password" type="password">
      <mat-error *ngIf="registerForm.get('password2').invalid && registerForm.get('password2').touched">Passwords do not match</mat-error>
    </mat-input-container>


    <div class="wp-btw">
      <button type="button" (click)="type= 'login'" mat-raised-button>Back</button>
      <button type="submit" mat-raised-button class="tc-mt-btn-a">Register</button>
    </div>
  </form>



  <form *ngIf="type == 'forgot'" [formGroup]="forgotForm" (submit)="register(forgotForm)" style="width: 300px;display: block;margin: 0 auto;">
    <mat-input-container class="w100p mb10">
      <input formControlName="email" matInput placeholder="Email" type="email">
      <mat-error *ngIf="forgotForm.get('email').invalid && forgotForm.get('email').touched">Please enter your email</mat-error>
    </mat-input-container>


    <div class="wp-btw">
      <button type="button" (click)="type= 'login'" mat-raised-button>Back</button>
      <button type="submit" mat-raised-button class="tc-mt-btn-a">Restore</button>
    </div>
  </form>
</div>

