<div class="tc-wp-a footer">
  <div class="footer-a footer-item">
    <span class="zocial-call footer-item-i"></span>
    <div class="footer-item-a">
      000 000-00-00<br>
      000 000-00-00
    </div>
  </div>


  <div class="footer-b">
    <span class="zocial-email footer-item-i"></span>
    <div class="footer-item-a">
      info@toothcare.com<br>
      book@toothcare.com
    </div>
  </div>


  <div class="footer-c">
    <span class="fontawesome-map-marker footer-item-i"></span>
    <div class="footer-item-a">Burj Khalifa, Dubai, U.A.E.</div>
  </div>


  <div class="footer-d">
    <span class="fontawesome-camera footer-item-i"></span>
    <span class="zocial-youtube footer-item-i"></span>
    <span class="zocial-vk footer-item-i"></span>
    <span class="zocial-twitter footer-item-i"></span>
  </div>



  <div class="footer-e">
    <img src="assets/i/icons/credit-cards.png" alt="">
  </div>
</div>


<div class="footer-copy">
  © ToothCare, 2017 All rights reserved.
</div>
