<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-front-menu></app-front-menu>
  </mat-sidenav>


  <div class="tc-wp-b">
    <app-header class="tc-header"></app-header>

    <div class="tc-content">
      <router-outlet (deactivate)="onDeactivate()"></router-outlet>
    </div>

    <app-footer class="tc-footer"></app-footer>
  </div>
</mat-sidenav-container>
