<div class="tc-page-wp mb50">
  <div class="tc-wp-a">
    <div class="tc-title-a">OUR team</div>


    <div class="tc-team">
      <div *ngFor="let doc of team" [routerLink]="['/team', doc.name]" class="tc-team-a">
        <div [ngStyle]="{'background': 'url(' + doc.ava + ') no-repeat 0 0'}" class="tc-team-a-bg"></div>
        <div class="tc-team-a-text">{{doc.name}}</div>
        <!--<div class="tc-team-a-info">-->
          <!--<span data-tc-tooltip="yoyoyoo" class="fontawesome-certificate"></span>-->
          <!--<span class="fontawesome-bullhorn"></span>-->
          <!--<span class="fontawesome-group"></span>-->
          <!--<span class="fontawesome-comment"></span>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
