<div class="tc-wp-a pt30 pb50">
  <div class="tc-title-a">Educational Videos</div>

  <div class="box">
    <div class="box-a">
      <div class="tc-title-c">Lorem ipsum dolor.</div>
      <iframe class="box-a-video" src="https://www.youtube.com/embed/aJZSOnFaOF8" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="box-a">
      <div class="tc-title-c">Lorem ipsum dolor.</div>
      <iframe class="box-a-video" src="https://www.youtube.com/embed/78r3d4qa9A0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="box-a">
      <div class="tc-title-c">Lorem ipsum dolor.</div>
      <iframe class="box-a-video" src="https://www.youtube.com/embed/nIgivHNdoBM" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="box-a">
      <div class="tc-title-c">Lorem ipsum dolor.</div>
      <iframe class="box-a-video" src="https://www.youtube.com/embed/78r3d4qa9A0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="box-a">
      <div class="tc-title-c">Lorem ipsum dolor.</div>
      <iframe class="box-a-video" src="https://www.youtube.com/embed/aJZSOnFaOF8" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="box-a">
      <div class="tc-title-c">Lorem ipsum dolor.</div>
      <iframe class="box-a-video" src="https://www.youtube.com/embed/nIgivHNdoBM" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


