<div class="doc-top tc-bg-a">
  <div class="doc-top-text">
    <div class="doc-top-text-a">Dr. {{name}}</div>
    <div class="doc-top-text-b">“Dentistry that makes you smile!”</div>
  </div>
  <div [ngStyle]="{'background': 'url(assets/i/doctor/1.png) center 100% no-repeat'}" class="doc-top-bg"></div>
</div>


<div class="doc-rate tc-bg-a">
  <div class="doc-rate-a">Rate doctor:</div>
  <div class="tc-stars">
    <span class="tc-stars-a">&#9734;</span>
    <span class="tc-stars-a">&#9734;</span>
    <span class="tc-stars-a">&#9734;</span>
    <span class="tc-stars-a">&#9734;</span>
    <span class="tc-stars-a">&#9734;</span>
  </div>
</div>


<div class="tc-wp-a doc-wp-a">
  <div class="pr20">
    <div class="tc-title-a">Education, training, courses</div>


    <div class="doc-info">
      <div class="doc-info-a mn20 tc-abz">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur consequuntur enim error molestias non obcaecati pariatur perferendis placeat tenetur enim error molestias molestias.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur consequuntur enim error molestias non obcaecati pariatur perferendis placeat tenetur enim error molestias molestias.
      </div>


      <div class="doc-info-b">
        <div class="doc-info-b-dent">
          <svg class="tc-logo-b" enable-background="new 0 0 321.065 467.852" version="1.1" viewBox="0 0 321.065 467.852" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <g class="tc-logo-b-line" clip-rule="evenodd" fill-rule="evenodd">
              <path d="m195.61 352.82c0-37.986-8.459-71.678-31-91-6.002-6.361 4.844 6.379 6 8 26.404 37.053 21.75 98.287 10 148-3.541 14.979-13.779 48.473 6 50 13.08 1.01 31.664-23.109 40-36 21.35-33.014 30.813-73.826 37-117 3.332-23.258 3.77-47.26 6-70.999 2.35-25.004 16.051-44.537 28-66 10.799-19.397 21.182-43.872 23-71 2.135-31.853-3.26-60.458-15-79-28.184-44.511-110.9-27.767-156-4 27.764-8.75 54.571-19.075 89-19 50.131 0.109 71.246 29.537 71 82-0.154 32.77-10.17 57.024-22 78-11.004 19.507-27.916 37.697-35 66-5.252 20.981-3.188 45.476-5 67.999-3.676 45.637-12.023 87.648-28 119-8.1 15.893-17.881 33.109-34 38-1.047-32.818 10-67.961 10-103zm-164-318c-16.648 8.597-28.92 31.503-31 53-4.055 41.895 12.928 71.039 29 97 12.311 19.886 34.699 46.918 34 67-0.277 7.946-6.169 18.167-9 27.999-2.787 9.678-5.541 20.289-7 30-3.789 25.223 1.949 55.906 6 77 2.793 14.545 7.35 50.963 24 49 11.342-1.336 13.55-29.266 17-45 16.914-77.148 41.203-132.38 98-164-70.889 32.776-97.045 110.29-117 194-11.438-41.641-16.025-93.256-4-133 3.432-11.342 11.312-21.867 12-32.999 1.881-30.434-25.798-57.286-40-78-22.42-32.7-53.761-103.76-7-133 26.176-16.365 69.043-5 109-5 27.415 0 53.319 0.101 70-13-56.501 31.521-133.52-17.068-184 9z"/>
            </g>
        </svg>
        </div>
        <div class="doc-info-b-text">Practical courses in filling materials for front and side teeth</div>
      </div>
      <div class="doc-info-b">
        <div class="doc-info-b-dent">
          <svg class="tc-logo-b" enable-background="new 0 0 321.065 467.852" version="1.1" viewBox="0 0 321.065 467.852" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <g class="tc-logo-b-line" clip-rule="evenodd" fill-rule="evenodd">
              <path d="m195.61 352.82c0-37.986-8.459-71.678-31-91-6.002-6.361 4.844 6.379 6 8 26.404 37.053 21.75 98.287 10 148-3.541 14.979-13.779 48.473 6 50 13.08 1.01 31.664-23.109 40-36 21.35-33.014 30.813-73.826 37-117 3.332-23.258 3.77-47.26 6-70.999 2.35-25.004 16.051-44.537 28-66 10.799-19.397 21.182-43.872 23-71 2.135-31.853-3.26-60.458-15-79-28.184-44.511-110.9-27.767-156-4 27.764-8.75 54.571-19.075 89-19 50.131 0.109 71.246 29.537 71 82-0.154 32.77-10.17 57.024-22 78-11.004 19.507-27.916 37.697-35 66-5.252 20.981-3.188 45.476-5 67.999-3.676 45.637-12.023 87.648-28 119-8.1 15.893-17.881 33.109-34 38-1.047-32.818 10-67.961 10-103zm-164-318c-16.648 8.597-28.92 31.503-31 53-4.055 41.895 12.928 71.039 29 97 12.311 19.886 34.699 46.918 34 67-0.277 7.946-6.169 18.167-9 27.999-2.787 9.678-5.541 20.289-7 30-3.789 25.223 1.949 55.906 6 77 2.793 14.545 7.35 50.963 24 49 11.342-1.336 13.55-29.266 17-45 16.914-77.148 41.203-132.38 98-164-70.889 32.776-97.045 110.29-117 194-11.438-41.641-16.025-93.256-4-133 3.432-11.342 11.312-21.867 12-32.999 1.881-30.434-25.798-57.286-40-78-22.42-32.7-53.761-103.76-7-133 26.176-16.365 69.043-5 109-5 27.415 0 53.319 0.101 70-13-56.501 31.521-133.52-17.068-184 9z"/>
            </g>
        </svg>
        </div>
        <div class="doc-info-b-text">Practical courses in dental surgery</div>
      </div>
      <div class="doc-info-b">
        <div class="doc-info-b-dent">
          <svg class="tc-logo-b" enable-background="new 0 0 321.065 467.852" version="1.1" viewBox="0 0 321.065 467.852" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <g class="tc-logo-b-line" clip-rule="evenodd" fill-rule="evenodd">
              <path d="m195.61 352.82c0-37.986-8.459-71.678-31-91-6.002-6.361 4.844 6.379 6 8 26.404 37.053 21.75 98.287 10 148-3.541 14.979-13.779 48.473 6 50 13.08 1.01 31.664-23.109 40-36 21.35-33.014 30.813-73.826 37-117 3.332-23.258 3.77-47.26 6-70.999 2.35-25.004 16.051-44.537 28-66 10.799-19.397 21.182-43.872 23-71 2.135-31.853-3.26-60.458-15-79-28.184-44.511-110.9-27.767-156-4 27.764-8.75 54.571-19.075 89-19 50.131 0.109 71.246 29.537 71 82-0.154 32.77-10.17 57.024-22 78-11.004 19.507-27.916 37.697-35 66-5.252 20.981-3.188 45.476-5 67.999-3.676 45.637-12.023 87.648-28 119-8.1 15.893-17.881 33.109-34 38-1.047-32.818 10-67.961 10-103zm-164-318c-16.648 8.597-28.92 31.503-31 53-4.055 41.895 12.928 71.039 29 97 12.311 19.886 34.699 46.918 34 67-0.277 7.946-6.169 18.167-9 27.999-2.787 9.678-5.541 20.289-7 30-3.789 25.223 1.949 55.906 6 77 2.793 14.545 7.35 50.963 24 49 11.342-1.336 13.55-29.266 17-45 16.914-77.148 41.203-132.38 98-164-70.889 32.776-97.045 110.29-117 194-11.438-41.641-16.025-93.256-4-133 3.432-11.342 11.312-21.867 12-32.999 1.881-30.434-25.798-57.286-40-78-22.42-32.7-53.761-103.76-7-133 26.176-16.365 69.043-5 109-5 27.415 0 53.319 0.101 70-13-56.501 31.521-133.52-17.068-184 9z"/>
            </g>
        </svg>
        </div>
        <div class="doc-info-b-text">Professional courses in prosthetics on implants</div>
      </div>
      <div class="doc-info-b">
        <div class="doc-info-b-dent">
          <svg class="tc-logo-b" enable-background="new 0 0 321.065 467.852" version="1.1" viewBox="0 0 321.065 467.852" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <g class="tc-logo-b-line" clip-rule="evenodd" fill-rule="evenodd">
              <path d="m195.61 352.82c0-37.986-8.459-71.678-31-91-6.002-6.361 4.844 6.379 6 8 26.404 37.053 21.75 98.287 10 148-3.541 14.979-13.779 48.473 6 50 13.08 1.01 31.664-23.109 40-36 21.35-33.014 30.813-73.826 37-117 3.332-23.258 3.77-47.26 6-70.999 2.35-25.004 16.051-44.537 28-66 10.799-19.397 21.182-43.872 23-71 2.135-31.853-3.26-60.458-15-79-28.184-44.511-110.9-27.767-156-4 27.764-8.75 54.571-19.075 89-19 50.131 0.109 71.246 29.537 71 82-0.154 32.77-10.17 57.024-22 78-11.004 19.507-27.916 37.697-35 66-5.252 20.981-3.188 45.476-5 67.999-3.676 45.637-12.023 87.648-28 119-8.1 15.893-17.881 33.109-34 38-1.047-32.818 10-67.961 10-103zm-164-318c-16.648 8.597-28.92 31.503-31 53-4.055 41.895 12.928 71.039 29 97 12.311 19.886 34.699 46.918 34 67-0.277 7.946-6.169 18.167-9 27.999-2.787 9.678-5.541 20.289-7 30-3.789 25.223 1.949 55.906 6 77 2.793 14.545 7.35 50.963 24 49 11.342-1.336 13.55-29.266 17-45 16.914-77.148 41.203-132.38 98-164-70.889 32.776-97.045 110.29-117 194-11.438-41.641-16.025-93.256-4-133 3.432-11.342 11.312-21.867 12-32.999 1.881-30.434-25.798-57.286-40-78-22.42-32.7-53.761-103.76-7-133 26.176-16.365 69.043-5 109-5 27.415 0 53.319 0.101 70-13-56.501 31.521-133.52-17.068-184 9z"/>
            </g>
        </svg>
        </div>
        <div class="doc-info-b-text">Practical courses in implantology</div>
      </div>
      <div class="doc-info-b">
        <div class="doc-info-b-dent">
          <svg class="tc-logo-b" enable-background="new 0 0 321.065 467.852" version="1.1" viewBox="0 0 321.065 467.852" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <g class="tc-logo-b-line" clip-rule="evenodd" fill-rule="evenodd">
              <path d="m195.61 352.82c0-37.986-8.459-71.678-31-91-6.002-6.361 4.844 6.379 6 8 26.404 37.053 21.75 98.287 10 148-3.541 14.979-13.779 48.473 6 50 13.08 1.01 31.664-23.109 40-36 21.35-33.014 30.813-73.826 37-117 3.332-23.258 3.77-47.26 6-70.999 2.35-25.004 16.051-44.537 28-66 10.799-19.397 21.182-43.872 23-71 2.135-31.853-3.26-60.458-15-79-28.184-44.511-110.9-27.767-156-4 27.764-8.75 54.571-19.075 89-19 50.131 0.109 71.246 29.537 71 82-0.154 32.77-10.17 57.024-22 78-11.004 19.507-27.916 37.697-35 66-5.252 20.981-3.188 45.476-5 67.999-3.676 45.637-12.023 87.648-28 119-8.1 15.893-17.881 33.109-34 38-1.047-32.818 10-67.961 10-103zm-164-318c-16.648 8.597-28.92 31.503-31 53-4.055 41.895 12.928 71.039 29 97 12.311 19.886 34.699 46.918 34 67-0.277 7.946-6.169 18.167-9 27.999-2.787 9.678-5.541 20.289-7 30-3.789 25.223 1.949 55.906 6 77 2.793 14.545 7.35 50.963 24 49 11.342-1.336 13.55-29.266 17-45 16.914-77.148 41.203-132.38 98-164-70.889 32.776-97.045 110.29-117 194-11.438-41.641-16.025-93.256-4-133 3.432-11.342 11.312-21.867 12-32.999 1.881-30.434-25.798-57.286-40-78-22.42-32.7-53.761-103.76-7-133 26.176-16.365 69.043-5 109-5 27.415 0 53.319 0.101 70-13-56.501 31.521-133.52-17.068-184 9z"/>
            </g>
        </svg>
        </div>
        <div class="doc-info-b-text">Aesthetic dentistry</div>
      </div>
    </div>



    <div class="tc-title-a mt50">Interests</div>
    <div class="doc-info">
      <div class="doc-info-a tc-abz">
        family, sci-fi literature, nature, swimming, moto
      </div>
    </div>


    <div class="tc-title-a mt50">Specialization</div>
    <div class="doc-info-b">
      <div class="doc-info-b-dent">
        <svg class="tc-logo-b" enable-background="new 0 0 321.065 467.852" version="1.1" viewBox="0 0 321.065 467.852" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <g class="tc-logo-b-line" clip-rule="evenodd" fill-rule="evenodd">
              <path d="m195.61 352.82c0-37.986-8.459-71.678-31-91-6.002-6.361 4.844 6.379 6 8 26.404 37.053 21.75 98.287 10 148-3.541 14.979-13.779 48.473 6 50 13.08 1.01 31.664-23.109 40-36 21.35-33.014 30.813-73.826 37-117 3.332-23.258 3.77-47.26 6-70.999 2.35-25.004 16.051-44.537 28-66 10.799-19.397 21.182-43.872 23-71 2.135-31.853-3.26-60.458-15-79-28.184-44.511-110.9-27.767-156-4 27.764-8.75 54.571-19.075 89-19 50.131 0.109 71.246 29.537 71 82-0.154 32.77-10.17 57.024-22 78-11.004 19.507-27.916 37.697-35 66-5.252 20.981-3.188 45.476-5 67.999-3.676 45.637-12.023 87.648-28 119-8.1 15.893-17.881 33.109-34 38-1.047-32.818 10-67.961 10-103zm-164-318c-16.648 8.597-28.92 31.503-31 53-4.055 41.895 12.928 71.039 29 97 12.311 19.886 34.699 46.918 34 67-0.277 7.946-6.169 18.167-9 27.999-2.787 9.678-5.541 20.289-7 30-3.789 25.223 1.949 55.906 6 77 2.793 14.545 7.35 50.963 24 49 11.342-1.336 13.55-29.266 17-45 16.914-77.148 41.203-132.38 98-164-70.889 32.776-97.045 110.29-117 194-11.438-41.641-16.025-93.256-4-133 3.432-11.342 11.312-21.867 12-32.999 1.881-30.434-25.798-57.286-40-78-22.42-32.7-53.761-103.76-7-133 26.176-16.365 69.043-5 109-5 27.415 0 53.319 0.101 70-13-56.501 31.521-133.52-17.068-184 9z"/>
            </g>
        </svg>
      </div>
      <div class="doc-info-b-text">Dental surgery</div>
    </div>
    <div class="doc-info-b">
      <div class="doc-info-b-dent">
        <svg class="tc-logo-b" enable-background="new 0 0 321.065 467.852" version="1.1" viewBox="0 0 321.065 467.852" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <g class="tc-logo-b-line" clip-rule="evenodd" fill-rule="evenodd">
              <path d="m195.61 352.82c0-37.986-8.459-71.678-31-91-6.002-6.361 4.844 6.379 6 8 26.404 37.053 21.75 98.287 10 148-3.541 14.979-13.779 48.473 6 50 13.08 1.01 31.664-23.109 40-36 21.35-33.014 30.813-73.826 37-117 3.332-23.258 3.77-47.26 6-70.999 2.35-25.004 16.051-44.537 28-66 10.799-19.397 21.182-43.872 23-71 2.135-31.853-3.26-60.458-15-79-28.184-44.511-110.9-27.767-156-4 27.764-8.75 54.571-19.075 89-19 50.131 0.109 71.246 29.537 71 82-0.154 32.77-10.17 57.024-22 78-11.004 19.507-27.916 37.697-35 66-5.252 20.981-3.188 45.476-5 67.999-3.676 45.637-12.023 87.648-28 119-8.1 15.893-17.881 33.109-34 38-1.047-32.818 10-67.961 10-103zm-164-318c-16.648 8.597-28.92 31.503-31 53-4.055 41.895 12.928 71.039 29 97 12.311 19.886 34.699 46.918 34 67-0.277 7.946-6.169 18.167-9 27.999-2.787 9.678-5.541 20.289-7 30-3.789 25.223 1.949 55.906 6 77 2.793 14.545 7.35 50.963 24 49 11.342-1.336 13.55-29.266 17-45 16.914-77.148 41.203-132.38 98-164-70.889 32.776-97.045 110.29-117 194-11.438-41.641-16.025-93.256-4-133 3.432-11.342 11.312-21.867 12-32.999 1.881-30.434-25.798-57.286-40-78-22.42-32.7-53.761-103.76-7-133 26.176-16.365 69.043-5 109-5 27.415 0 53.319 0.101 70-13-56.501 31.521-133.52-17.068-184 9z"/>
            </g>
        </svg>
      </div>
      <div class="doc-info-b-text">Dntal implantology</div>
    </div>
    <div class="doc-info-b">
      <div class="doc-info-b-dent">
        <svg class="tc-logo-b" enable-background="new 0 0 321.065 467.852" version="1.1" viewBox="0 0 321.065 467.852" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <g class="tc-logo-b-line" clip-rule="evenodd" fill-rule="evenodd">
              <path d="m195.61 352.82c0-37.986-8.459-71.678-31-91-6.002-6.361 4.844 6.379 6 8 26.404 37.053 21.75 98.287 10 148-3.541 14.979-13.779 48.473 6 50 13.08 1.01 31.664-23.109 40-36 21.35-33.014 30.813-73.826 37-117 3.332-23.258 3.77-47.26 6-70.999 2.35-25.004 16.051-44.537 28-66 10.799-19.397 21.182-43.872 23-71 2.135-31.853-3.26-60.458-15-79-28.184-44.511-110.9-27.767-156-4 27.764-8.75 54.571-19.075 89-19 50.131 0.109 71.246 29.537 71 82-0.154 32.77-10.17 57.024-22 78-11.004 19.507-27.916 37.697-35 66-5.252 20.981-3.188 45.476-5 67.999-3.676 45.637-12.023 87.648-28 119-8.1 15.893-17.881 33.109-34 38-1.047-32.818 10-67.961 10-103zm-164-318c-16.648 8.597-28.92 31.503-31 53-4.055 41.895 12.928 71.039 29 97 12.311 19.886 34.699 46.918 34 67-0.277 7.946-6.169 18.167-9 27.999-2.787 9.678-5.541 20.289-7 30-3.789 25.223 1.949 55.906 6 77 2.793 14.545 7.35 50.963 24 49 11.342-1.336 13.55-29.266 17-45 16.914-77.148 41.203-132.38 98-164-70.889 32.776-97.045 110.29-117 194-11.438-41.641-16.025-93.256-4-133 3.432-11.342 11.312-21.867 12-32.999 1.881-30.434-25.798-57.286-40-78-22.42-32.7-53.761-103.76-7-133 26.176-16.365 69.043-5 109-5 27.415 0 53.319 0.101 70-13-56.501 31.521-133.52-17.068-184 9z"/>
            </g>
        </svg>
      </div>
      <div class="doc-info-b-text">Dental orthopedics</div>
    </div>
  </div>

  <div class="pl20">
    <div class="tc-title-a">Doctor gallery</div>
    <ngx-gallery [options]="galleryOptions" [images]="doctorGallery"></ngx-gallery>

    <div class="tc-title-a mt50">Doctor certificates</div>
    <ngx-gallery [options]="galleryOptions" [images]="certificatesGallery"></ngx-gallery>
  </div>
</div>


<div class="doc-footer tc-bg-a">
  <div class="tc-title-b">Rate</div>

  <div class="doc-form">
    <div class="tc-stars">
      <span class="tc-stars-a">&#9734;</span>
      <span class="tc-stars-a">&#9734;</span>
      <span class="tc-stars-a">&#9734;</span>
      <span class="tc-stars-a">&#9734;</span>
      <span class="tc-stars-a">&#9734;</span>
    </div>

    <label class="tc-in">
      <span class="tc-in-title">Name</span>
      <input type="text" class="tc-in-input">
      <span class="tc-in-sep"></span>
    </label>
    <label class="tc-in">
      <span class="tc-in-title">Email</span>
      <input type="text" class="tc-in-input">
      <span class="tc-in-sep"></span>
    </label>
    <label class="tc-in">
      <span class="tc-in-title">Your evaluation</span>
      <textarea class="tc-in-input"></textarea>
      <span class="tc-in-sep"></span>
    </label>

    <button class="tc-btn-b mt30"><span class="tc-btn-b-text">Send</span></button>
  </div>
</div>
