:host { display: block; }


.doc{
  &-wp{
    &-a{
      padding: 60px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;

    }
  }


  &-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    position: relative;
    align-items: center;
    text-align: right;

    &-bg{
      width: 460px;
      height: 100%;
      background-size: contain !important;
    }

    &-text{
      color: white;
      font-weight: 100;
      &-a{
        font-size: 60px;
      }
      &-b{
        font-size: 24px;
        margin: 15px 0 0;
      }
    }
  }


  &-rate{
    text-align: center;
    border-radius: 0 0 100% 100%;
    padding: 15px 0;

    &-a{
      color: white;
      font-size: 16px;
      margin: 0 20px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: bottom;
    }
  }


  &-info{
    &-b{
      margin: 15px 0 15px 20px;
      display: grid;
      grid-template-columns: 1fr 15fr;
      align-items: center;
      &-dent{
        display: inline-block;
        vertical-align: middle;
      }

      &-text{
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
        transition: all 100ms linear;
      }
    }
  }


  &-footer{
    padding: 50px 0;
    text-align: center;
  }
}



