:host { display: block; }

.home{
  &-a{
    text-align: center;
    padding: 50px 100px 0;
  }

  &-b{
    display: flex;
    margin-top: 50px;
    &-item{
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 33.3333%;
      transition: all 500ms linear;
      &-bg{
        position: relative;
        height: 260px;
        background-size: cover !important;
        transition: all 300ms linear;
        &:after{
          content: '';
          position: absolute;
          opacity: 0;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.6);
          transition: all 300ms linear;
        }
      }
      &-text{
        height: 0;
        overflow: hidden;
        padding: 30px;
        color: white;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        opacity: 0;
        transform: translateY(100px);
        transition: all 300ms linear;
      }

      &-title{
        white-space: nowrap;
        color: var(--c1);
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        left: 50%;
        top: -35px;
        transform: translate(-50%);
        transition: all 300ms linear 300ms;
      }



      &:hover{
        width: 100%;
        .home-b-item{
          &-bg{
            &:after {
              opacity: 1;
              transition: all 300ms linear 300ms;
            }
          }

          &-text {
            opacity: 1;
            z-index: 1;
            transform: translateY(0);
            height: auto;
            transition: all 300ms linear 300ms;
          }
        }
      }
    }

    &:hover{
      .home-b-item{
        &:not(:hover){
          width: 5%;
          .home-b-item{
            &-title{
              opacity: 0;
              transition: all 300ms linear;
            }
          }
        }
      }
    }
  }

  &-c{
    padding: 50px 0 0;
    margin: 50px 0 0;
  }

  &-d{
    padding: 50px 0 0;
    &-box{
      padding: 50px 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      text-align: center;

      &-a{
        &-num{
          font-size: 60px;
          font-weight: 100;
        }
        &-text{
          font-size: 24px;
        }
      }
    }
  }

  &-e{
    padding: 50px 0 0;
    text-align: center;
    &-box{
      padding: 50px 0 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      &-a{
        &-price{
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 15px;
        }
      }
    }
  }

  &-video{
    width: 100%;
    height: 500px;
  }
}

