<app-map [map]="initMap"></app-map>



<div class="tc-wp-a">
  <div class="home-a">
    <div class="tc-title-a">
      WHAT IS IMPLANT TOOTHCARE?
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias, atque dignissimos earum fugit maiores, maxime nisi nobis nostrum omnis perferendis reiciendis repellat saepe vero? Accusantium doloribus incidunt iste quam qui quod sint vitae! Architecto eum incidunt laudantium maiores, nisi nulla placeat quaerat ratione?
  </div>

  <div class="home-b">
    <div class="home-b-item">
      <div class="home-b-item-title">We organize Conferences</div>
      <div [ngStyle]="{'background': 'url(assets/i/home/1.jpg) no-repeat center'}" class="home-b-item-bg"></div>
      <div class="home-b-item-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aperiam architecto, asperiores at autem beatae blanditiis cumque deleniti deserunt, dolor doloribus dolorum itaque libero minus molestiae mollitia natus nisi officiis omnis perferendis qui quos rem sint sit ut vel voluptates? Alias aperiam culpa dicta ipsum minus molestiae quia repudiandae suscipit. Ab accusantium eos excepturi fuga ipsa ipsum iure maiores molestias, repellat vero. Aliquam perspiciatis ratione repellendus sit ut veritatis voluptatum. Assumenda consectetur corporis cum eum iusto, numquam placeat unde. Distinctio dolores doloribus exercitationem laudantium, magni minima nulla odio optio quaerat tenetur. Atque consectetur distinctio doloremque incidunt modi sequi tempore.
      </div>
    </div>
    <div class="home-b-item">
      <div class="home-b-item-title">We have first-class Specialists</div>
      <div [ngStyle]="{'background': 'url(assets/i/home/2.jpg) no-repeat center'}" class="home-b-item-bg"></div>
      <div class="home-b-item-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aperiam architecto, asperiores at autem beatae blanditiis cumque deleniti deserunt, dolor doloribus dolorum itaque libero minus molestiae mollitia natus nisi officiis omnis perferendis qui quos rem sint sit ut vel voluptates? Alias aperiam culpa dicta ipsum minus molestiae quia repudiandae suscipit. Ab accusantium eos excepturi fuga ipsa ipsum iure maiores molestias, repellat vero. Aliquam perspiciatis ratione repellendus sit ut veritatis voluptatum. Assumenda consectetur corporis cum eum iusto, numquam placeat unde. Distinctio dolores doloribus exercitationem laudantium, magni minima nulla odio optio quaerat tenetur. Atque consectetur distinctio doloremque incidunt modi sequi tempore.
      </div>
    </div>
    <div class="home-b-item">
      <div class="home-b-item-title">5 Clinics in different Cities</div>
      <div [ngStyle]="{'background': 'url(assets/i/home/3.jpg) no-repeat center'}" class="home-b-item-bg"></div>
      <div class="home-b-item-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aperiam architecto, asperiores at autem beatae blanditiis cumque deleniti deserunt, dolor doloribus dolorum itaque libero minus molestiae mollitia natus nisi officiis omnis perferendis qui quos rem sint sit ut vel voluptates? Alias aperiam culpa dicta ipsum minus molestiae quia repudiandae suscipit. Ab accusantium eos excepturi fuga ipsa ipsum iure maiores molestias, repellat vero. Aliquam perspiciatis ratione repellendus sit ut veritatis voluptatum. Assumenda consectetur corporis cum eum iusto, numquam placeat unde. Distinctio dolores doloribus exercitationem laudantium, magni minima nulla odio optio quaerat tenetur. Atque consectetur distinctio doloremque incidunt modi sequi tempore.
      </div>
    </div>
  </div>
</div>



<div class="tc-bg-a home-c">
  <div class="tc-wp-a">
    <div class="tc-title-b">OUR Services</div>

    <div class="tc-serv">
      <div [routerLink]="['/service', 'Dental Implants']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/2.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Dental Implants</div>
      </div>

      <div [routerLink]="['/service', 'Tooth Extraction']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/6.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Tooth Extraction</div>
      </div>

      <div [routerLink]="['/service', 'General Dentistry']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/3.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">General Dentistry</div>
      </div>

      <div [routerLink]="['/service', 'Cosmetic Dentistry']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/1.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Cosmetic Dentistry</div>
      </div>

      <div [routerLink]="['/service', 'Teeth Straightening']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/5.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Teeth Straightening</div>
      </div>

      <div [routerLink]="['/service', 'Diagnostics']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/7.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Diagnostics</div>
      </div>

      <div [routerLink]="['/service', 'Orthopedic stomatology']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/8.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Orthopedic stomatology</div>
      </div>

      <div [routerLink]="['/service', 'Children\'s dentistry']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/9.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Children's dentistry</div>
      </div>

      <!--<div [routerLink]="['/service', 'Root Canal & Gum Treatment']" class="tc-serv-a">-->
      <!--<div [ngStyle]="{'background': 'url(assets/i/services/4.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>-->
      <!--<div class="tc-serv-a-text">Root Canal & Gum Treatment</div>-->
      <!--</div>-->
    </div>
  </div>
</div>



<div class="home-d">
  <div class="tc-wp-a">
    <div class="tc-title-a">
      Live example of our work
    </div>
    <iframe class="home-video" src="https://www.youtube.com/embed/WhzbFaNueKU" frameborder="0" allowfullscreen></iframe>



    <div in-viewport (inViewport)="inViewport($event.value)" class="home-d-box">
      <div class="home-d-box-a">
        <div class="home-d-box-a-num">{{num1}}</div>
        <div class="home-d-box-a-text">SURGICAL PATIENTS</div>
      </div>
      <div class="home-d-box-a">
        <div class="home-d-box-a-num">{{num2}}</div>
        <div class="home-d-box-a-text">SETS OF IMPLANT RETAINED DENTURES</div>
      </div>
      <div class="home-d-box-a">
        <div class="home-d-box-a-num">{{num3}}</div>
        <div class="home-d-box-a-text">IMPLANTS PLACED</div>
      </div>
    </div>
  </div>
</div>



<div class="home-e mb50">
  <div class="tc-wp-a">
    <div class="tc-title-a">
      Putting the Brakes in Time
    </div>

    <div class="home-e-box">
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">50$</div>
        <img src="assets/i/home-tooth/2.png" alt="">
      </div>
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">100$</div>
        <img src="assets/i/home-tooth/3.png" alt="">
      </div>
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">200$</div>
        <img src="assets/i/home-tooth/4.png" alt="">
      </div>
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">400$</div>
        <img src="assets/i/home-tooth/5.png" alt="">
      </div>
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">800$</div>
        <img src="assets/i/home-tooth/6.png" alt="">
      </div>
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">1500$</div>
        <img src="assets/i/home-tooth/7.png" alt="">
      </div>
    </div>

    <button (click)="appointmentPop()" class="tc-btn-b mt30"><span class="tc-btn-b-text">Make an appointment</span></button>
  </div>
</div>




