<mat-dialog-content class="tc-pop-a">
  <div *ngIf="step == 0" class="team">
    <div *ngFor="let doc of team" (click)="setStep(1, doc)" class="team-box">
      <div [ngStyle]="{'background': 'url(' + doc.ava + ') no-repeat 0 0'}" class="team-box-bg"></div>
      <div class="team-box-name">{{doc.name}}</div>
    </div>
  </div>



  <div *ngIf="step == 1">
    <i (click)="step = 0" class="material-icons tc-pop-close">&#xE314;</i>

    <div class="tac fsz24 fw100 mv15">
      Appointment Request to Dr. {{curDoc.name}}
    </div>


    <div class="wp-btw_cen wsn tc-box">
      <div (click)="setDay(day.id)" *ngFor="let day of week" [ngClass]="{active: day.isActive}"
           class="tc-btn-cal">
        <div class="tc-btn-cal-day">{{day.date | date:'d'}}</div>
        <div *ngIf="day.isActive" class="tc-btn-cal-mun">{{(eventsAsync | async).length}}</div>
        <div *ngIf="!day.isActive" class="tc-btn-cal-week">{{day.date | date:'EEE'}}</div>
      </div>
    </div>


    <mwl-calendar-day-view
      [viewDate]="viewDate"
      [dayStartHour]="8"
      [hourSegments]="6"
      [dayEndHour]="17"
      [refresh]="refresh"
      [locale]="'ca'"
      [events]="(eventsAsync | async)"
      (beforeViewRender)="beforeHrRender($event)"
      (hourSegmentClicked)="addEvent($event.date, $event)">
    </mwl-calendar-day-view>
  </div>
</mat-dialog-content>
