
<div class="tc-card-a">
  <h2 class="tc-h3">Your history</h2>
  <div *ngFor="let tooth of teeth">
    <div *ngIf="tooth.history.length > 0" class="tc-list-item-a">
      <img [src]="tooth.img" alt="" class="tc-list-item-tooth">
      <div class="tc-list-item-a-text">
        <div class="fw700">Lorem ipsum dolor.</div>
        <div class="fsz14">Lorem ipsum dolor sit.</div>
      </div>
    </div>
  </div>
</div>
