<div [ngClass]="{menu: menu}" class="e">
  <div class="e-header wp-btw">
    <button (click)="menu = !menu" class="e-header-btn">
      <i *ngIf="!menu" class="material-icons">chevron_left</i>
      <i *ngIf="menu" class="material-icons">chevron_right</i>
    </button>


    <div>
      <a class="e-header-link">
        <i class="material-icons">notifications_none</i>
      </a>
      <a (click)="logOut()" class="e-header-link">
        <i class="material-icons">power_settings_new</i>
      </a>
    </div>
  </div>


  <div class="e-wp wp-btw">
    <div class="e-menu">
      <a routerLink="/dashboard/home" routerLinkActive="active" class="e-menu-link"><i class="material-icons dibM">home</i> <span class="dibM">Home</span></a>
      <a routerLink="/dashboard/history" routerLinkActive="active" class="e-menu-link"><i class="material-icons dibM">content_paste</i> <span class="dibM">History</span></a>
      <a routerLink="/dashboard/settings" routerLinkActive="active" class="e-menu-link"><i class="material-icons dibM">settings</i> <span class="dibM">Settings</span></a>
    </div>


    <div class="e-box">
      <router-outlet (deactivate)="onDeactivate()"></router-outlet>
    </div>
  </div>
</div>
