<div class="tc-page-wp">
  <div class="tc-wp-a">
    <div class="tc-title-a">OUR Services</div>

    <div class="tc-serv">
      <div [routerLink]="['/service', 'Dental Implants']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/2.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Dental Implants</div>
      </div>

      <div [routerLink]="['/service', 'Tooth Extraction']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/6.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Tooth Extraction</div>
      </div>

      <div [routerLink]="['/service', 'General Dentistry']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/3.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">General Dentistry</div>
      </div>

      <div [routerLink]="['/service', 'Cosmetic Dentistry']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/1.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Cosmetic Dentistry</div>
      </div>

      <div [routerLink]="['/service', 'Teeth Straightening']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/5.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Teeth Straightening</div>
      </div>

      <div [routerLink]="['/service', 'Diagnostics']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/7.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Diagnostics</div>
      </div>

      <div [routerLink]="['/service', 'Orthopedic stomatology']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/8.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Orthopedic stomatology</div>
      </div>

      <div [routerLink]="['/service', 'Children\'s dentistry']" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(assets/i/services/9.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">Children's dentistry</div>
      </div>

      <!--<div [routerLink]="['/service', 'Root Canal & Gum Treatment']" class="tc-serv-a">-->
      <!--<div [ngStyle]="{'background': 'url(assets/i/services/4.jpg) no-repeat center'}" class="tc-serv-a-bg"></div>-->
      <!--<div class="tc-serv-a-text">Root Canal & Gum Treatment</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
