<form #f="ngForm" class="pall20">
  <mat-input-container class="w100p">
    <input #name="ngModel" [(ngModel)]="add.name" name="name" matInput placeholder="Name" required>
    <mat-error *ngIf="name.errors">Please enter your name</mat-error>
  </mat-input-container>
  <table class="w100p" cellspacing="0">
    <tr>
      <td>
        <mat-input-container class="w100p">
          <input #phone="ngModel" [(ngModel)]="add.phone" name="phone" matInput placeholder="Phone" required>
          <mat-error *ngIf="phone.errors">Please enter your phone number</mat-error>
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="w100p">
          <input #email="ngModel" [(ngModel)]="add.email" name="email" matInput placeholder="Email" required>
          <mat-error *ngIf="email.errors">Please enter your email</mat-error>
        </mat-input-container>
      </td>
    </tr>
  </table>
  <mat-input-container class="w100p">
    <textarea [(ngModel)]="add.additional" name="additional" matInput placeholder="Additional information"></textarea>
  </mat-input-container>

  <div class="wp-btw">
    <button (click)="close()" mat-raised-button>close</button>
    <button (click)="save(f)" mat-raised-button class="tc-mt-btn-a">save</button>
  </div>
</form>


