.e-menu{
  width: 300px;
  height: 100%;
  overflow: scroll;
  background: var(--c1);

  &-link{
    color: #fff;
    display: block;
    white-space: nowrap;
    padding: 15px 15px;
    border-left: 5px solid transparent;
    transition: all 200ms linear;

    &:hover, &.active{
      border-left: 5px solid white;
      opacity: 0.7;
    }
  }
}
