<div class="e-menu">
  <a routerLink="/home" routerLinkActive="active" class="e-menu-link">Home</a>
  <a routerLink="/services" routerLinkActive="active" class="e-menu-link">Services</a>
  <a routerLink="/team" routerLinkActive="active" class="e-menu-link">Team</a>
  <a routerLink="/gallery" routerLinkActive="active" class="e-menu-link">Gallery of works</a>
  <a routerLink="/educational" routerLinkActive="active" class="e-menu-link">Educational video</a>
  <a routerLink="/how2care" routerLinkActive="active" class="e-menu-link">How to care for your teeth</a>
  <a routerLink="/contacts" routerLinkActive="active" class="e-menu-link">Contacts</a>
</div>
