//https://github.com/lukasz-galka/ngx-gallery///////////////////////////////////////////////////////////////////////////
.ngx-gallery{
  &-arrow{
    &-left, &-right{
      i{
        width: 30px;
        height: 30px;
        border-top: 3px solid white;
        border-left: 3px solid white;
        transform: translateY(-50%) rotate(-45deg) !important;
      }
      &:hover i:not(.ngx-gallery-disabled){
        border-color: var(--c1);
      }
    }
    &-right{
      i{
        border-left: none;
        border-right: 3px solid white;
        transform: translateY(-50%) rotate(45deg) !important;
      }
      &:hover i:not(.ngx-gallery-disabled){
        border-color: var(--c1);
      }
    }
  }
}
//http://weloveiconfonts.com////////////////////////////////////////////////////////////////////////////////////////////
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
//https://github.com/mattlewis92/angular-calendar///////////////////////////////////////////////////////////////////////
.cal {
  &-day-view {
    .cal-hour:not(:last-child) .cal-hour-segment {
      //border: none;
    }

    .cal-event.cal-ends-within-day,
    .cal-event.cal-starts-within-day {
      border-radius: 0;
      border: none !important;
      line-height: 20px;
    }

    .cal-hour:nth-child(odd) {
      background-color: #f4f4f4 !important;
    }

    .cal-hour:nth-child(even) {
      background-color: #ffffff !important;
    }

    .cal-event-container {
      //width: calc(100% - 50px) !important;
      //margin-left: 50px !important;

      &:not(:last-child) {
        border-bottom: 1px solid #fff;
      }
    }

    .cal-time {
      width: 50px !important;
      color: black;
    }

    .cal-event.cal-ends-within-day,
    .cal-day-view .cal-event.cal-starts-within-day {
      line-height: 1;
    }
  }

  &-event{
    &-title {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      white-space: normal;
    }
  }

  &-events{
    &-row{
      &:nth-child(odd) {
        background-color: #f4f4f4 !important;
      }

      &:nth-child(even) {
        background-color: #ffffff !important;
      }
    }
  }
}


//https://material.angular.io///////////////////////////////////////////////////////////////////////////////////////////
@import '~@angular/material/theming';
@include mat-core();
$candy-app-primary: mat-palette($mat-blue, 500, 300);
$candy-app-accent:  mat-palette($mat-pink);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);


.mat{
  &-input{
    &-placeholder{
      &-wrapper {
        box-sizing: content-box !important;
      }
    }
  }

  &-dialog{
    &-container {
      padding: 0 !important;
    }

    &-content{
      margin: 0 !important;
      padding: 0 !important;
    }
  }


  &-dialog-content {
    max-height: 90vh !important;
  }
}

mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

//https://github.com/akserg/ng2-toasty///////////////////////////////////////////////////////////////////////////////////////////
@import '~ng2-toasty/style.css';


