<div class="tc-wp-a">
  <div class="serv-desc">
    <div [ngStyle]="{'background': 'url(assets/i/services/2.jpg) no-repeat center'}" class="serv-desc-img"></div>
    <div class="serv-desc-text">Dental Implants</div>
  </div>


</div>



